h1{
    background-color: green;
    color: yellow;
    width: 50%;
   text-align: center;
   border: 2px solid red;
   margin-top: 10px;
   margin-left: 150px;

}
h2{
    margin-left: 20px;
    background-color: green;
    color: yellow;
    width: 50%;
   text-align: center;
   border: 2px  inset red;
}
div{
    border: 1px solid black;
    background-color: lightblue;
    padding: 10px 80px 10px 40px;
}

